.account-well{
    padding: 0;
    height: 70vh;
    width: 40vw;
    border: 1px solid whitesmoke;
}

.account-header{
    height: 80px;
    width: 100%;
    display: flex;
    font-size: 20px;
    padding:0;
    border-bottom: 2px solid whitesmoke;
}
.account-head{
    display: flex;
    list-style: none;
    text-align: center;
    width: 100%;
    
}

.account-head-link{
    height: 80px;
    padding: 17px 15px;
    width: 100%;
    color: #f97E5D;
    text-decoration: none;
    text-align: center;
}
.account-head-link:hover{
    border-bottom: 2px solid #f97E5D;
    color: #4A0F60;
    cursor:pointer;
}

.account-head #active {
    border-bottom: 2px solid #4A0F60;
}

.account-head #active{
    color: #4A0F60;
}

.login-margin{
    padding:60px 50px 0px 50px;
}
.text-decoration{
    cursor: pointer;
}

.register-email{
    padding: 50px 50px 0px 50px;    
    background-color: white;
}

.register-text-email{
    font-size: 15px;

}

.account-text{
    font-size: 15px;
}

.register-password{
    padding: 40px 50px 0 50px;
    background-color: white;
}

.register-personal{
    padding: 30px 20px 0 20px;
    background-color: white;
}

.register-address{
    padding:30px 50px 0 50px;
}

.content{
    overflow-y: scroll;
    height: 200px;
    padding: 0 20px 0 20px;
}

.check{
  text-align: right;
  margin:20px 30px 0 30px;
}

.margin{
    margin:20px 30px 0 30px;
}
.message-padding{
    padding:5px 0 0 0;
}