.header{
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.title-container{
    height: 100%;
    margin-top: 100px;
    padding: 2% 100px;
}

.title-color{
    color:#f97E5D;
    font-size: 50px;
    font-weight: bold;
}
.moto-color{
    color:#4A0F60;
    font-size: 30px;

}
.home-img{
    padding: 5%; 
}

.about-container{
    padding: 5%;
    overflow-x: hidden;
}

.account-container{
    padding: 2% 2% 0 2%;
}